# Python
_pycache_/
*.pyc
__pycache__/


# Virtual envs
.venv/
venv/

# Local DB
app.db

# Secrets
.env
.env.*


# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# docs
DATA_SOURCE_ANALYSIS.md
PROJECT_GUIDE.md
changes.patch
